<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(function getData() {
        $.getJSON("/ajax/fetch", function (data) {
          $("#artist-text").text(data.song_artists);
          $("#title-text").text(data.song_name);
          $("#cover").attr("src", data.song_cover);
        });
        // $.getJSON("/ajax/map", function (data) {
        //   $("#map_status").text(data.map_status);
        //   $("#map_status").removeClass("loading");
        //   $("#map_status").addClass(data.map_status_class);

        //   if (data.map_status_class == "success") {
        //     $("#map_preview_img").attr("src", "/static/map-preview.png");
        //     $("#map_preview").attr("href", "https://map.diffusehyperion.me");
        //   }
        // });
      });
    </script>
    <title>Now Playing...</title>
  </head>
  <body>
    <div id="box">
      <img id="cover" src="../static/profile.png" />
      <div id="details">
        <h1 id="artist-text">Wait a second...</h1>
        <h1 id="title-text">Wait a second...</h1>
      </div>
    </div>
  </body>
</html>
