<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/main.js"></script>
    <title>Now Playing...</title>
  </head>
  <body>
    <div id="box">
      <img id="cover" src="../static/profile.png" />
      <div id="details">
        <h1 id="artist-text">Wait a moment...</h1>
        <h1 id="title-text">Wait a moment...</h1>
      </div>
    </div>
  </body>
</html>
